# **Data Collection Notebook**

## Objectives

Fetch data from Kaggle and save as raw data

## Inputs

Kaggle JSON file - authentication token

## Outputs

Generate Dataset: outputs/datasets/collection/data-melborne_f.csv

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspaces/Nod-to-the-COD/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspaces/Nod-to-the-COD'

# Fetch data from kaggle

In [4]:
! pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: charset-normalizer in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (3.4.0)
Requirement already satisfied: idna in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /home/cistudent/.local/lib/python3.12/site-packages (from kaggle) (6.31.0)
Requirement already satisfied: python-dateutil>=2.5.3 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: requests in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (75.6.0)
Requirement already satisfied: six>=1.10 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (1.17.0)
Collecting text-unidecode (from kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: urllib3>=1.15.1 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (2.2.3)
Requirement already satisfied: webencodings in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle) (0.5.1)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: text-unidecode, tqdm, python-slugify, kaggle
Successfully installed kaggle-1.7.4.5 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.67.1

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

We need to drag the kaggle.json file previously created into the session.
Once the file has been dragged into the location, the below needs to be run so that the token is recognised in the session.

In [6]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

Get the dataset path from the Kaggle url

Define the Kaggle dataset, and destination folder and download it.

In [9]:
KaggleDatasetPath = "d4rklucif3r/full-scale-waste-water-treatment-plant-data"
DestinationFolder = "inputs/datasets/raw"   
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Dataset URL: https://www.kaggle.com/datasets/d4rklucif3r/full-scale-waste-water-treatment-plant-data
License(s): CC-BY-SA-4.0
Downloading full-scale-waste-water-treatment-plant-data.zip to inputs/datasets/raw
  0%|                                               | 0.00/87.9k [00:00<?, ?B/s]
100%|███████████████████████████████████████| 87.9k/87.9k [00:00<00:00, 260MB/s]

Now we need to unzip the downloaded file, delte the zip file and delete the kaggle.json file

In [10]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder} \
  && rm {DestinationFolder}/*.zip \
  && rm kaggle.json

Archive:  inputs/datasets/raw/full-scale-waste-water-treatment-plant-data.zip
  inflating: inputs/datasets/raw/Data-Melbourne_F.csv
  inflating: inputs/datasets/raw/Data-Melbourne_F_fixed.csv

## Load and Inspect Kaggle dataset

In [12]:
import pandas as pd
df = pd.read_csv(f"inputs/datasets/raw/Data-Melbourne_F.csv")
df.head()

,avg_outflow,avg_inflow,total_grid,Am,BOD,COD,TN,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,year,month,day
0,2.941,2.589,175856,27.0,365.0,730.0,60.378,19.3,25.1,12.6,0.0,56,1.52,10.0,26.9,53.5,79.5,2014,1,1
1,2.936,2.961,181624,25.0,370.0,740.0,60.026,17.1,23.6,12.3,0.0,63,0.00,10.0,14.4,27.8,0.0,2014,1,2
2,2.928,3.225,202016,42.0,418.0,836.0,64.522,16.8,27.2,8.8,0.0,47,0.25,10.0,31.9,61.1,77.8,2014,1,5
3,2.928,3.354,207547,36.0,430.0,850.0,63.000,14.6,19.9,11.1,0.0,49,0.00,10.0,27.0,38.9,53.5,2014,1,6
4,2.917,3.794,202824,46.0,508.0,1016.0,65.590,13.4,19.1,8.0,0.0,65,0.00,10.0,20.6,35.2,53.5,2014,1,7

In [13]:
import pandas as pd
df = pd.read_csv(f"inputs/datasets/raw/Data-Melbourne_F_fixed.csv")
df.head()

,Unnamed: 0,Average Outflow,Average Inflow,Energy Consumption,Ammonia,Biological Oxygen Demand,Chemical Oxygen Demand,Total Nitrogen,Average Temperature,Maximum temperature,Minimum temperature,Atmospheric pressure,Average humidity,Total rainfall,Average visibility,Average wind speed,Maximum wind speed,Year,Month,Day
0,0,2.941,2.589,175856.0,27.0,365.0,730.0,60.378,19.3,25.1,12.6,0.0,56.0,1.52,10.0,26.9,53.5,2014.0,1.0,1.0
1,1,2.936,2.961,181624.0,25.0,370.0,740.0,60.026,17.1,23.6,12.3,0.0,63.0,0.00,10.0,14.4,27.8,2014.0,1.0,2.0
2,2,2.928,3.225,202016.0,42.0,418.0,836.0,64.522,16.8,27.2,8.8,0.0,47.0,0.25,10.0,31.9,61.1,2014.0,1.0,5.0
3,3,2.928,3.354,207547.0,36.0,430.0,850.0,63.000,14.6,19.9,11.1,0.0,49.0,0.00,10.0,27.0,38.9,2014.0,1.0,6.0
4,4,2.917,3.794,202824.0,46.0,508.0,1016.0,65.590,13.4,19.1,8.0,0.0,65.0,0.00,10.0,20.6,35.2,2014.0,1.0,7.0

DataFrame Summary

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1382 entries, 0 to 1381
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1382 non-null   int64
 1   Average Outflow           1382 non-null   float64
 2   Average Inflow            1382 non-null   float64
 3   Energy Consumption        1382 non-null   float64
 4   Ammonia                   1382 non-null   float64
 5   Biological Oxygen Demand  1382 non-null   float64
 6   Chemical Oxygen Demand    1382 non-null   float64
 7   Total Nitrogen            1382 non-null   float64
 8   Average Temperature       1382 non-null   float64
 9   Maximum temperature       1382 non-null   float64
 10  Minimum temperature       1382 non-null   float64
 11  Atmospheric pressure      1382 non-null   float64
 12  Average humidity          1382 non-null   float64
 13  Total rainfall            1382 non-null   float64
 14  Average visibility        1382 non-null   float64
 15  Average wind speed        1382 non-null   float64
 16  Maximum wind speed        1382 non-null   float64
 17  Year                      1382 non-null   float64
 18  Month                     1382 non-null   float64
 19  Day                       1382 non-null   float64
dtypes: float64(19), int64(1)
memory usage: 216.1 KB

In [18]:
df.tail()

,Unnamed: 0,Average Outflow,Average Inflow,Energy Consumption,Ammonia,Biological Oxygen Demand,Chemical Oxygen Demand,Total Nitrogen,Average Temperature,Maximum temperature,Minimum temperature,Atmospheric pressure,Average humidity,Total rainfall,Average visibility,Average wind speed,Maximum wind speed,Year,Month,Day
1377,1377,5.068,4.716,305938.0,28.0,310.0,660.0,58.807,6.8,10.0,4.0,0.0,56.0,0.0,10.0,14.4,22.2,2019.0,6.0,20.0
1378,1378,5.882,5.510,293446.0,40.0,250.0,700.0,60.671,7.6,16.0,3.0,0.0,71.0,0.0,0.0,13.5,25.9,2019.0,6.0,24.0
1379,1379,4.638,4.811,307968.0,47.0,260.0,860.0,64.000,9.7,16.0,3.0,0.0,65.0,0.0,10.0,18.1,25.9,2019.0,6.0,25.0
1380,1380,5.373,4.929,316675.0,46.0,300.0,900.0,62.479,10.9,17.0,5.0,0.0,65.0,0.0,10.0,21.9,35.2,2019.0,6.0,26.0
1381,1381,4.072,5.194,318268.0,31.0,270.0,910.0,63.312,12.4,16.0,10.0,0.0,63.0,0.0,10.0,28.0,44.6,2019.0,6.0,27.0

In [20]:
df.shape

(1382, 20)

In [21]:
df.columns

Index(['Unnamed: 0', 'Average Outflow', 'Average Inflow', 'Energy Consumption',
       'Ammonia', 'Biological Oxygen Demand', 'Chemical Oxygen Demand',
       'Total Nitrogen', 'Average Temperature', 'Maximum temperature',
       'Minimum temperature', 'Atmospheric pressure', 'Average humidity',
       'Total rainfall', 'Average visibility', 'Average wind speed',
       'Maximum wind speed', 'Year', 'Month', 'Day'],
      dtype='object')

In [22]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0  Average Outflow  Average Inflow  Energy Consumption  \
0              0            2.941           2.589            175856.0
1              1            2.936           2.961            181624.0
2              2            2.928           3.225            202016.0
3              3            2.928           3.354            207547.0
4              4            2.917           3.794            202824.0
...          ...              ...             ...                 ...
1377        1377            5.068           4.716            305938.0
1378        1378            5.882           5.510            293446.0
1379        1379            4.638           4.811            307968.0
1380        1380            5.373           4.929            316675.0
1381        1381            4.072           5.194            318268.0

      Ammonia  Biological Oxygen Demand  Chemical Oxygen Demand  \
0        27.0                     365.0                   730.0
1        25.0                     370.0                   740.0
2        42.0                     418.0                   836.0
3        36.0                     430.0                   850.0
4        46.0                     508.0                  1016.0
...       ...                       ...                     ...
1377     28.0                     310.0                   660.0
1378     40.0                     250.0                   700.0
1379     47.0                     260.0                   860.0
1380     46.0                     300.0                   900.0
1381     31.0                     270.0                   910.0

      Total Nitrogen  Average Temperature  Maximum temperature  \
0             60.378                 19.3                 25.1
1             60.026                 17.1                 23.6
2             64.522                 16.8                 27.2
3             63.000                 14.6                 19.9
4             65.590                 13.4                 19.1
...              ...                  ...                  ...
1377          58.807                  6.8                 10.0
1378          60.671                  7.6                 16.0
1379          64.000                  9.7                 16.0
1380          62.479                 10.9                 17.0
1381          63.312                 12.4                 16.0

      Minimum temperature  Atmospheric pressure  Average humidity  \
0                    12.6                   0.0              56.0
1                    12.3                   0.0              63.0
2                     8.8                   0.0              47.0
3                    11.1                   0.0              49.0
4                     8.0                   0.0              65.0
...                   ...                   ...               ...
1377                  4.0                   0.0              56.0
1378                  3.0                   0.0              71.0
1379                  3.0                   0.0              65.0
1380                  5.0                   0.0              65.0
1381                 10.0                   0.0              63.0

      Total rainfall  Average visibility  Average wind speed  \
0               1.52                10.0                26.9
1               0.00                10.0                14.4
2               0.25                10.0                31.9
3               0.00                10.0                27.0
4               0.00                10.0                20.6
...              ...                 ...                 ...
1377            0.00                10.0                14.4
1378            0.00                 0.0                13.5
1379            0.00                10.0                18.1
1380            0.00                10.0                21.9
1381            0.00                10.0                28.0

      Maximum wind speed    Year  Month   Day
0                   53.5  2014.0    1.0   1.0
1                   27.8  2014.0    1.0   2.0
2                   61.1  2014.0    1.0   5.0
3                   38.9  2014.0    1.0   6.0
4                   35.2  2014.0    1.0   7.0
...                  ...     ...    ...   ...
1377                22.2  2019.0    6.0  20.0
1378                25.9  2019.0    6.0  24.0
1379                25.9  2019.0    6.0  25.0
1380                35.2  2019.0    6.0  26.0
1381                44.6  2019.0    6.0  27.0

[1382 rows x 20 columns]>

In [23]:
df.isnull().sum()

Unnamed: 0                  0
Average Outflow             0
Average Inflow              0
Energy Consumption          0
Ammonia                     0
Biological Oxygen Demand    0
Chemical Oxygen Demand      0
Total Nitrogen              0
Average Temperature         0
Maximum temperature         0
Minimum temperature         0
Atmospheric pressure        0
Average humidity            0
Total rainfall              0
Average visibility          0
Average wind speed          0
Maximum wind speed          0
Year                        0
Month                       0
Day                         0
dtype: int64

In [24]:
df.dtypes

Unnamed: 0                    int64
Average Outflow             float64
Average Inflow              float64
Energy Consumption          float64
Ammonia                     float64
Biological Oxygen Demand    float64
Chemical Oxygen Demand      float64
Total Nitrogen              float64
Average Temperature         float64
Maximum temperature         float64
Minimum temperature         float64
Atmospheric pressure        float64
Average humidity            float64
Total rainfall              float64
Average visibility          float64
Average wind speed          float64
Maximum wind speed          float64
Year                        float64
Month                       float64
Day                         float64
dtype: object

After inspecting the data, I want to drop the index column as this is not needed. 
I also want to convert the date parts to datetime and drop the year, month and day columns.

In [25]:
df = df.drop(columns=['Unnamed: 0'])

In [26]:
df['date'] = pd.to_datetime(df[['Year', 'Month', 'Day']])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1382 entries, 0 to 1381
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Average Outflow           1382 non-null   float64
 1   Average Inflow            1382 non-null   float64
 2   Energy Consumption        1382 non-null   float64
 3   Ammonia                   1382 non-null   float64
 4   Biological Oxygen Demand  1382 non-null   float64
 5   Chemical Oxygen Demand    1382 non-null   float64
 6   Total Nitrogen            1382 non-null   float64
 7   Average Temperature       1382 non-null   float64
 8   Maximum temperature       1382 non-null   float64
 9   Minimum temperature       1382 non-null   float64
 10  Atmospheric pressure      1382 non-null   float64
 11  Average humidity          1382 non-null   float64
 12  Total rainfall            1382 non-null   float64
 13  Average visibility        1382 non-null   float64
 14  Average wind speed        1382 non-null   float64
 15  Maximum wind speed        1382 non-null   float64
 16  Year                      1382 non-null   float64
 17  Month                     1382 non-null   float64
 18  Day                       1382 non-null   float64
 19  date                      1382 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(19)
memory usage: 216.1 KB

In [28]:
df.head()

,Average Outflow,Average Inflow,Energy Consumption,Ammonia,Biological Oxygen Demand,Chemical Oxygen Demand,Total Nitrogen,Average Temperature,Maximum temperature,Minimum temperature,Atmospheric pressure,Average humidity,Total rainfall,Average visibility,Average wind speed,Maximum wind speed,Year,Month,Day,date
0,2.941,2.589,175856.0,27.0,365.0,730.0,60.378,19.3,25.1,12.6,0.0,56.0,1.52,10.0,26.9,53.5,2014.0,1.0,1.0,2014-01-01
1,2.936,2.961,181624.0,25.0,370.0,740.0,60.026,17.1,23.6,12.3,0.0,63.0,0.00,10.0,14.4,27.8,2014.0,1.0,2.0,2014-01-02
2,2.928,3.225,202016.0,42.0,418.0,836.0,64.522,16.8,27.2,8.8,0.0,47.0,0.25,10.0,31.9,61.1,2014.0,1.0,5.0,2014-01-05
3,2.928,3.354,207547.0,36.0,430.0,850.0,63.000,14.6,19.9,11.1,0.0,49.0,0.00,10.0,27.0,38.9,2014.0,1.0,6.0,2014-01-06
4,2.917,3.794,202824.0,46.0,508.0,1016.0,65.590,13.4,19.1,8.0,0.0,65.0,0.00,10.0,20.6,35.2,2014.0,1.0,7.0,2014-01-07

In [31]:
df = df.drop(columns=['Year', 'Month', 'Day'])

In [32]:
df.head()

,Average Outflow,Average Inflow,Energy Consumption,Ammonia,Biological Oxygen Demand,Chemical Oxygen Demand,Total Nitrogen,Average Temperature,Maximum temperature,Minimum temperature,Atmospheric pressure,Average humidity,Total rainfall,Average visibility,Average wind speed,Maximum wind speed,date
0,2.941,2.589,175856.0,27.0,365.0,730.0,60.378,19.3,25.1,12.6,0.0,56.0,1.52,10.0,26.9,53.5,2014-01-01
1,2.936,2.961,181624.0,25.0,370.0,740.0,60.026,17.1,23.6,12.3,0.0,63.0,0.00,10.0,14.4,27.8,2014-01-02
2,2.928,3.225,202016.0,42.0,418.0,836.0,64.522,16.8,27.2,8.8,0.0,47.0,0.25,10.0,31.9,61.1,2014-01-05
3,2.928,3.354,207547.0,36.0,430.0,850.0,63.000,14.6,19.9,11.1,0.0,49.0,0.00,10.0,27.0,38.9,2014-01-06
4,2.917,3.794,202824.0,46.0,508.0,1016.0,65.590,13.4,19.1,8.0,0.0,65.0,0.00,10.0,20.6,35.2,2014-01-07

---

# Push files to Repo

Now the file is ready to push to the repo

In [33]:
import os
try:
  # create here your folder
  os.makedirs(name='outputs/datasets/collection')
except Exception as e:
  print(e)
df.to_csv('outputs/datasets/collection/Data-Melbourns_F_fixed.csv', index=False)